.panel:global(.ant-collapse) {
  background: transparent !important;
  border: none !important;
}

.panel:global(.ant-collapse-header) {
  background: transparent !important;
  border: none !important;
}

.panel:global(.ant-collapse-item) {
  background: transparent !important;
  border: none !important;
}

.collapse {
  width: 100%;
  overflow: hidden;
  background: transparent !important;
  border: none !important;
}

.filters {
  color: #a31bcb;
  font-weight: 600;
  border-color: #a31bcb;
}
