.panel:global(.ant-collapse) {
  background: transparent !important;
  border: none !important;
}

.panel:global(.ant-collapse-header) {
  background: transparent !important;
  border: none !important;
}

.panel:global(.ant-collapse-item) {
  background: transparent !important;
  border: none !important;
}

.header {
  margin-top: -3px;
  padding: 11px 22px 8px;
  overflow: auto;
  cursor: default;
}

.collapse {
  width: 100%;
  overflow: hidden;
  background: transparent !important;
  border: none !important;

  svg {
    position: relative;
    top: 15px;
    left: 20px;
  }
}

.collapse :global(.ant-collapse-header) {
  padding: 0 !important;
  border-bottom: none;
  border-radius: 0 !important;
}

.filters {
  color: #a31bcb;
  font-weight: 600;
  border-color: #a31bcb;
}
