.label {
  font-weight: 700;
}

.checkbox {
  font-weight: 400;
}

.error {
  bottom: -20px;
  left: 0;
  color: var(--color-error);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--font-manrope);
}

.radioError span {
  color: var(--color-error);
}

.uploadError {
  border: 1px solid var(--color-error);
}

.rightStar {
  display: inline-block;
  margin-right: 5px;
}
