.root {
  width: 100%;
}

.collapse {
  background: transparent;
}

.panel {
  width: 100%;
  margin-bottom: 4px;
  border: 0 !important;
}

.panel :global(.ant-collapse-header) {
  background: linear-gradient(
      0deg,
      rgba(71, 13, 105, 0.1) 0%,
      rgba(71, 13, 105, 0.1) 100%
    ),
    #fff;
  border-radius: 6px !important;
}

.panel :global(.ant-collapse-item) {
  border: 0 !important;
}

.panel :global(.ant-collapse-content-box) {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
}

.categorySection {
  background: #f6f6f7;
}

.categoryTitle {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: dimgray;
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
}

.memberSection {
  margin-bottom: 0.3em !important;
  padding-top: 2px;
  padding-bottom: 3px;
  overflow: hidden;
}

.filterControls {
  padding: 20px !important;
  padding-top: 5px;
  padding-bottom: 2px;
}

.searchInput {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.buttonGroup {
  display: flex !important;
  width: 100%;
  margin: 0 !important;
  text-align: center;
}

.buttonGroup :global(.ant-radio-button-wrapper) {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.freeMembers {
  margin-top: 2px;
}
