.card {
  height: 180px;
  box-shadow: none !important;
}

.card :global(.ant-card-body) {
  padding: 6px 28px;
}

.consoleTabContent {
  padding: 2px;
}

.errorText {
  padding: 8px;
  padding: 6px;
  color: #f00;
  font-size: 12px;
  font-family: Sora;
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.1);
  border-radius: 6px;
}

.closeButton {
  * {
    font-size: 10px !important;
  }
  border-color: #470d69;
  border-width: 2px;
  border-radius: 6px !important;

  svg {
    position: relative;
    bottom: 1px;
  }
}

.tabBtn {
  color: black;
  font-weight: 600;
}
