.sidebarTitle {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: var(--font-manrope);
}

.editor {
  margin-bottom: 16px;
}

.console {
  position: absolute;
  right: 0;
  bottom: 100px;
  left: 0;
  padding: 0 15px;
}

.wrapper {
  position: relative;
}
