.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  background: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dataBtn {
  margin-right: 17px;
}

.popoverInner {
  width: 320px;
  padding: 15px;
}

.csvBtn {
  margin-right: 8px;
  background: rgba(71, 13, 105, 0.1);
  border-color: transparent;

  &:hover {
    border-color: inherit;
  }
}

.csvText {
  display: inline-block;
  margin-right: 10px;
}

.csvIcon {
  position: relative;
  top: 4px;
}

.popoverItem {
  width: 192px;
}

.popoverLink {
  height: 10px !important;
  padding: 0 !important;
  text-align: left;
}

.guideLink {
  color: rgba(0, 0, 0, 0.5);
}
