.collapse {
  width: 100%;
  overflow: hidden;
}

.header {
  padding: 12px 16px;
  overflow: auto;
  background: rgba(249, 249, 249, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
}

.divider {
  top: 0;
  height: 32px;
  margin-inline: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dataBtn {
  margin-right: 17px;
  color: #a31bcb;
  border-color: #a31bcb;
}

.settingsBtn {
  padding: 0;
  color: #000;
  &:hover {
    color: #a31bcb !important;
  }
}

.csvBtn {
  width: 100%;
  margin-right: 8px;
  background: rgba(71, 13, 105, 0.1);
  border-color: transparent;

  &:hover {
    border-color: inherit;
  }
}

.csvText {
  display: inline-block;
  margin-right: 10px;
}

.csvIcon {
  position: relative;
  top: 4px;
}

.popoverItem {
  width: 192px;
}

.popoverLink {
  height: 10px !important;
  padding: 0 !important;
  text-align: left;
}

.alertButton {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  color: rgba(71, 13, 105, 1);
  background: rgba(71, 13, 105, 0.1);
  border: 1px solid rgba(102, 112, 133, 0.1);
  box-shadow: none;

  &:hover {
    border-color: rgba(71, 13, 105, 1);
  }
}

.mobileButton {
  padding: 4px;
  font-size: 10px;
}

.guideLink {
  color: rgba(0, 0, 0, 0.5);
}

.collapse {
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-radius: 0 !important;
}

.collapse :global(.ant-collapse-content) {
  border: none !important;
  border-radius: 0 !important;
}

.collapse :global(.ant-collapse-item) {
  border: none !important;
}

.collapse :global(.ant-collapse-header) {
  padding: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
}

.arrow {
  position: relative;
  top: 14px;
  left: 20px;
}

.run {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #a31bcb;
}

.buttonGroup {
  display: flex !important;
  gap: 10px;
  justify-content: left;

  padding: 0 16px;
  text-align: center;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  * {
    background: transparent;
  }

  span {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 12px;
  }
}

.buttonGroupMobile {
  justify-content: space-between;
}

.buttonGroup :global(.ant-radio-button-wrapper-checked) {
  background: rgba(163, 27, 203, 0.1);
  border-radius: 0;

  &::before {
    display: none;
  }

  div {
    display: none;
  }

  span {
    color: black;
  }

  & > span:last-of-type {
    &::after {
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 100%;
      height: 3px;
      background: #a31bcb;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      transform: translateX(-50%);
      content: "";
    }
  }
}

.buttonGroup :global(.ant-radio-button-wrapper) {
  &::before {
    display: none;
  }
}

.radioButton {
  display: flex;
  align-items: center;
  height: 56px;
  line-height: normal;
  border: none !important;
}

.table :global(.ReactVirtualized__Table__headerRow) {
  padding: 6px 0;
}

.table :global(.ReactVirtualized__Table__row) span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.tableFooter {
  color: rgba(0, 0, 0, 0.5);
}

.tableFooter {
  margin-top: 16px;
}

.wrapper {
  flex: 1;
  padding: 16px;
}

.empty {
  margin-top: calc(5%);
}

.sqlHeader {
  font-weight: 700;
  font-size: 14px;
}
