.wrapper {
  width: 100%;
}

.body {
  padding: 0 16px;
}

.removeBtn {
  padding: 0;
  color: var(--color-primary);
  span {
    font-size: 12px;
  }
}

.roleName {
  :global(.ant-select) {
    margin-right: -10px;
  }

  :global(.ant-select-selection-item) {
    font-weight: 600;
  }
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.cardAvatar {
  flex-shrink: 0;
}

.paragraph {
  flex-shrink: 1;
  margin-bottom: 0 !important;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 14px;
}

.tag {
  color: rgba(0, 0, 0, 0.56) !important;
  font-size: 10px;
  border-radius: 9px;
}

.dl {
  dt,
  dd {
    height: 22px;
  }
}
