.pointer {
  cursor: pointer;
}

.member {
  padding: 4px;
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 600;
  font-size: 14px;
}

.memberRow {
  display: flex;
  align-items: center;
  justify-content: start;
}

.memberIcon {
  height: 20px;
  margin: 0 4px;
  margin-right: 8px;
}

.memberSection {
  margin-bottom: 6px !important;
}

.memberActive {
  background: rgba(237, 231, 240, 0.5);
}

.memberHovered {
  color: #aaabbb !important;
  background: #f6f6f7;
  filter: brightness(96%);
}

.memberFocused {
  background: #f6f6f7;
  filter: brightness(90%);
}

.memberHovered.memberActive {
  background: #fff;
  filter: brightness(99%);
}
