.space {
  display: block;
  width: 100%;
}

.header {
  margin-bottom: 25px;
}

.title {
  margin-bottom: 25px;
}

.panel {
  background: none;
  border: none !important;
}

.tag {
  padding: 4px;
  color: var(--color-white);
  font-size: 14px;

  &.inner {
    margin-right: 0;
    margin-left: 5px;
  }
}

.collapse {
  background: none;
  border: none;
  *:not(.tag, .collapseBtn) {
    padding-left: 0 !important;
  }
}

.collapseInner {
  margin-left: 28px;
}

.collapseBtn {
  text-align: center;
  border-color: #a5a5a5;

  svg {
    width: 10px;
    fill: #a5a5a5;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
}
