.nav {
  margin: 0 !important;
  padding-left: 30px;
  background: #f9f9f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.monaco {
  * {
    font-family: monospace;
  }
}

.monacoHeight {
  min-height: 100vh;
}

.navBtns {
  max-width: 100%;
  padding-top: 10px;
  overflow: auto;
}

.btn {
  color: rgba(0, 0, 0, 0.65);
  background: #f9f9f9;
  border-bottom-width: 0;
  border-radius: 6px 6px 0px 0px !important;
}

.active {
  color: #470d69;
}

.run {
  display: inline-block;
  margin-bottom: 8px;
  color: #fff;
  background: #a31bcb;
  border-radius: 6px;
}

.settings {
  display: inline-block;
  margin-bottom: 8px;
}

.closeIcon {
  * {
    width: 10px;
    height: 10px;
  }
}

.save {
  display: inline-block;
  margin-bottom: 8px;
  margin-left: auto;
  color: #470d69;
  font-weight: 700;
  font-size: 12px;
  background: rgba(71, 13, 105, 0.1);
  border-color: transparent;
  &:hover {
    border-color: inherit;
  }
}

.resizeIcon {
  display: flex;
  justify-content: center;
  cursor: n-resize;
}
