.table thead th::before {
  display: none;
}

.table thead tr th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.headerRight {
  text-align: right;
}

.cell {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.dataSource {
  color: var(--color-black);
  white-space: nowrap;
}

.startTime,
.createdAt {
  white-space: nowrap;
}
