.cell {
  color: #808080;
  font-size: 14px;
  font-family: var(--font-manrope);
}

.memberName {
  color: #000000;
  font-weight: 700;
}

.header {
  font-weight: 600;
  font-size: 12px;
}

.remove {
  text-align: right;
}

.select {
  width: 120px;
  color: #808080;
  opacity: 0.7;
}

.option {
  background: #ffff !important;
}
