.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.closeBtn {
  position: absolute;
  top: 32px;
  right: 27px;

  width: 34px;
  height: 34px;
  pointer-events: all;
}

.closeIcon {
  position: absolute;
  top: 0;
  left: 0;
}
