.wrapper {
  width: 100%;
  max-width: 282px;
  font-size: 14px;
}

.space {
  width: 100%;
}

.label {
  font-weight: 700;
  font-size: 14px;
}

.select {
  width: 100%;
  width: 240px;
}

.dropdown {
  margin-bottom: 4px;
}

.version {
  font-weight: 700;
  font-size: 14px;
}

.docsLink {
  color: #a31bcb;
}

.default {
  color: #470d69;
  font-weight: 700;
  font-size: 12px;
  background: rgba(71, 13, 105, 0.1);
  border-color: transparent;
  &:hover {
    border-color: inherit;
  }
}

.addFile {
  padding: 0 10px;
}

.plusIcon {
  color: #a5a5a5;
}

.fileBtn {
  display: block;
  min-width: 100%;
  text-align: left;
}

.fileIcon {
  position: relative;
  top: 4px;
  margin-right: 12px;
}
