.input .ant-input {
  width: 70px;
  height: 34px;
}

.input :global(.ant-input-group-addon) {
  font-weight: 700;
  font-size: 12px;
  background: white;
}

.limit {
  max-width: 150px;
}

.offset {
  max-width: 100px;
}

.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input input[type="number"] {
  -moz-appearance: textfield;
}
