.header {
  display: flex;
  align-items: center;
  height: 68.89px;
  padding: 0 16px;
}

.headerBordered {
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.root {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.logoText {
  width: 100%;
  max-width: 197.94px;
  max-height: 44.89px;
}

.col {
  display: flex;
}

.colRight {
  justify-content: flex-end;
}

.colMobile {
  justify-content: center;
  margin-top: 20px;
}

.colMobile.colRight {
  display: none !important;
}

.title {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
