.header {
  height: 68.89px;
  &.headerMobile {
    padding: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.logoText {
  width: 100%;
  max-width: 197.94px;
  max-height: 44.89px;
}

.col {
  display: flex;
}

.colRight {
  justify-content: flex-end;
}

.colMobile {
  justify-content: center;
  margin-top: 20px;
}

.colMobile.colRight {
  display: none !important;
}

.title {
  margin: 0;
  padding: 0;
}
