.tiles {
  margin-bottom: var(--gap-xl);
}

.submit {
  min-width: 141px;

  margin-right: var(--gap-5xs);

  &.fullwidth {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--gap-5xs);
  }
}

.link {
  color: var(--color-primary);
  font-weight: 600;
  &.fullwidth {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--gap-5xs);
  }
}

.skip {
  text-align: right;
  &.cetner {
    text-align: center;
  }
}

.tile {
  min-width: 180px;
}
