.text {
  margin-bottom: px;
}

.label {
  font-weight: 700;
}

.radio {
  font-weight: 400;
  font-size: 12px;
}

.icon {
  cursor: pointer;
  opacity: 0.5;
}

.textareaWrapper {
  position: relative;

  .textareaCopy {
    position: absolute;
    top: 40px;
    right: 20px;
  }
}

.back {
  color: var(--color-primary);

  background: rgba(71, 13, 105, 0.1);
  border: none;
}

.back,
.submit {
  min-width: 141px;

  margin-right: var(--gap-5xs);

  &.fullwidth {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--gap-5xs);
  }
}

.link {
  color: var(--color-primary);
  font-weight: 600;
  &.fullwidth {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--gap-5xs);
  }
}

.skip {
  text-align: right;
  &.cetner {
    text-align: center;
  }
}
