.table thead th::before {
  display: none;
}

.cell {
  color: rgba(#000, 0.5);
  font-weight: 600;
  font-size: 12px;
}

.nameCell {
  color: var(--color-black);
  font-weight: 700;
}

.actionsCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
