.wrapper {
  width: 282px;
  height: 100%;
  padding: 0 0 25px;
  background: #f9f9f9;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
  padding: 18px 16px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body {
  padding: 16px 11px;
}
