.wrapper {
  width: 300px;
  // height: 100%;
  // padding: 0 0 25px;
  background: #f9f9f9;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 16px 16px;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body {
  padding: 16px 0;
  background: #f9f9f9;
}
