.sqlRunner {
  width: 100%;
  padding: 16px;
}

.footer {
}

.resizeIcon {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  cursor: n-resize;
}

.monacoWrapper {
  padding: 5px;
  background: #f3f4f5 !important;
  border: 1px solid rgba(102, 112, 133, 0.1);
  border-radius: 6px;
}

.monaco {
  * {
    font-family: monospace;
  }
}

.data {
  padding: 0 40px;
}
