html,
body,
#root,
.ant-layout {
  min-height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

@font-face {
  font-weight: 400;
  font-family: "Gotham Pro";
  src: url("/public/GothamPro.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Gotham Pro";
  src: url("/public/GothamPro-Medium.ttf");
}

body {
  margin: 0;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-gotham-pro);
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-gotham-pro: "Gotham Pro";
  --font-manrope: "Manrope";
  --font-sora: "Sora";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-xxl: 44px;
  --font-size-sm: 14px;

  /* Colors */
  --color-primary: #470d69;
  --color-mediumpurple: #a56edd;
  --color-dimgray-100: #463854;
  --color-dimgray-200: rgba(70, 56, 84, 0.2);
  --color-dimgray-300: rgba(70, 56, 84, 0.1);
  --color-gray: rgba(255, 255, 255, 0.2);
  --color-darkslategray: #343743;
  --color-darkslategray-100: rgba(52, 55, 67, 0.2);
  --color-whitesmoke: #e9e8ee;
  --color-darkorchid: #b65cf8;
  --color-white: #fff;

  /* Gaps */
  --gap-8xs: 5px;
  --gap-21xl: 40px;
  --gap-29xl: 48px;
  --gap-0: 0px;
  --gap-13xl: 32px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-3xl: 22px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-29xl: 48px;
  --padding-13xl: 32px;
  --padding-3xs: 10px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-221xl: 240px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-33xl: 52px;
  --br-8xl: 27px;
  --br-26xl: 45px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-64xl: 83px;
  --br-21xl-5: 40.5px;
}
