.count {
  display: inline-block;
  padding: 12px 10px;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  background: #f9f9f9;
  border-radius: 19px;
}

.panel :global(.ant-collapse-content-box) {
  padding: 0 !important;
  padding-left: 10px !important;
}

.label {
  font-weight: 700;
}
