.table thead th::before {
  display: none;
}

.table thead tr th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.row {
  border-radius: 0 !important;
}

.subTable {
  width: 95%;
}

.dateCell {
  color: #808080;
}

.role {
  font-weight: 700;
  font-size: 14px;
}

.count {
  padding: 12px 10px;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  background: #f9f9f9;
  border-radius: 19px;
}

.actionsCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.action {
  min-width: none;
}

.url {
  font-weight: 600;
  font-size: 14px;
}

.value {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.paragraph {
  margin-bottom: 0 !important;
  vertical-align: middle;
  &:extend(.value);
}
