.head {
  margin-bottom: var(--gap-base);
}

.dataSource {
  display: flex;
  align-items: center;

  margin-bottom: var(--gap-base);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27px;
  height: 27px;

  margin-right: var(--gap-base);
  padding: 11px;

  background: #fff;
  border: 0.798px solid rgba(165, 165, 165, 0.3);
  border-radius: 9.677px;
  box-shadow: 0px 3.193568229675293px 12.774272918701172px 0px
    rgba(8, 8, 8, 0.06);
}

.title {
  margin: 0;

  font-family: var(--font-manrope);
}

.text {
  max-width: 858px;

  font-family: var(--font-sora);
}

.form {
  margin-bottom: 20px;
}

.back {
  color: var(--color-primary);

  background: rgba(71, 13, 105, 0.1);
  border: none;
}

.back,
.submit {
  min-width: 141px;

  margin-right: var(--gap-5xs);

  &.fullwidth {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--gap-5xs);
  }
}

.link {
  color: var(--color-primary);
  font-weight: 600;
  &.fullwidth {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--gap-5xs);
  }
}

.skip {
  text-align: right;
  &.cetner {
    text-align: center;
  }
}

.error {
  font-weight: 700;
  font-family: var(--font-manrope) !important;
}
