.filter {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  height: 17px !important;
  padding: 5px !important;
  font-size: 12px !important;
  text-transform: uppercase;
  vertical-align: text-bottom;
}

.plus {
  font-size: 18px !important;
}
