.filter {
  display: inline-flex !important;
  height: 17px !important;
  padding: 4px !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-transform: uppercase;
  vertical-align: text-bottom;
}

.filterIcon {
  position: relative;
  bottom: 5px;
}
